
<%- include('partials/index'); %>
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Answers Estácio!</h1>
      <p>Faça uma pergunta e espere pessoas responderem!</p>
    </div>
  </div>
      <div class="container">
        <h2>Perguntas</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Pergunta</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% questions.forEach(question => { %>
                    <th><%=question.question %></th>
                    <th>
                        <a href="/responder/<%= question.id %>" class="btn btn-warning">Responder</a>
                    </th>
                </tr>
                    <%}) %>
            </tbody>
        </table>
        </div>
      </main>
    </div>
  </div>

      </div>
    </main>
    
    <%- include('partials/footer'); %>