<%- include('./partials/inicio.ejs'); %>

<form action="/createuser" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Seu primeiro nome aqui.</div>
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Email</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>


  <%- include('./partials/fim.ejs'); %>