<%- include('./partials/inicio.ejs'); %>

<table class="table-primary">
    <thead>
      <tr>
        <th scope="col">Matrícula</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">202203044303</th>
        <td>Lucas Antonio Coelho Rodrigues</td>
      </tr>
      <tr>
        <th scope="row">202208607245</th>
        <td>Gabriel Silveira Sá</td>
      </tr>
      <tr>
        <th scope="row">202202788619</th>
        <td>Thiago Carvalho Vasconcelos</td>
        <td>
      </tr>
      <tr>
        <th scope="row">2022025008101</th>
        <td>Gabriel Barroso Pinheiro</td>
        <td>
      </tr>
    </tbody>
  </table>

<%- include('./partials/fim.ejs'); %>