<%- include('partials/index'); %>

<div class="container">

    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Pergunta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% questions.forEach(question => { %>
          <th scope="row"><%= question.id %></th>
          <td><%= question.question %></td>
        </tr>
        <% }) %> 
      </tbody>
    </table>
    <hr>

</div>

<%- include('partials/footer'); %>